body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e9fff2;
}

header {
    background: #2ecc71; /* Green color */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    margin: 0;
    font-size: 1.2rem;
}

section {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e7e7e7;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 3px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #2ecc71; /* Green color */
    color: #fff;
}

footer p {
    margin: 0.5rem 0;
}

button {
    background: #2ecc71; /* Green color */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background: #27ae60;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#timer {
    font-size: 2rem; /* Increased font size */
    font-weight: bold; /* Bold font weight */
    text-align: center;
    padding: 1rem;
    background: #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

#conditions {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#conditions h2 {
    color: #333;
}

#conditions ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

#conditions ul li {
    margin-bottom: 0
}